<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.appto11.com"
    versionCode="10"
    version   = "1.0.3">

  <!-- versionCode is optional and Android only -->

  <name>Mokojo</name>
  <icon src="icon.png" width="180" height="155"></icon>
  <description>
    Mokojo remote controller
  </description>
  <preference name="show-splash-screen-spinner" value="false" />
  <preference name="stay-in-webview" value="true" />
  <preference name="phonegap-version" value="2.3.0" />
  <plugin name="File" value="org.apache.cordova.FileUtils" />
  <plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />
  <feature name="http://api.phonegap.com/1.0/battery"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/contacts"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/media"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>
  <author href="https://build.phonegap.com" email="support@phonegap.com">
    Mokojo remote controller
  </author>
  <access origin="*" />
  <access origin="http://192.168.1.12 "  />
  <access origin="http://appto11.com" />
  <access origin="http://www.appto11.com" />
  <access prgom="http://mokojo.appto11.com/" />
  <access origin="http://azurewebsites.net/" />
  <access origin="http://html5assets.azurewebsites.net/" />
</widget>